/* CSS Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'mukta', sans-serif;
}
html {
  font-size: 62.5%;
}
nav {
  width: 100%;
  height: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #073e72;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.1);
}
.nav-top {
  display: flex;
  align-items: center;
  /* width: 100%; */
  /* justify-content: space-evenly; */
}
.logo {
  display: flex;
  align-items: center;
  margin-right: 6rem;
}
.logo i {
  font-size: 4.2rem;
  color: #f8872b;
  margin-right: 0.9rem;
}
.logo span {
  font-size: 3.5rem;
  font-family: 'kenia', cursive;
}
.search-bar {
  display: flex;
  align-items: center;
  position: relative;
}
.search-bar i {
  position: absolute;
  left: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.search-bar input {
  width: 47rem;
  padding: 1rem 3rem;
  border: none;
  background-color: #eaeff3;
  border-radius: 0.5rem;
}
.search-bar input::placeholder {
  color: #073e72;
  font-weight: 400;
}
.user {
  margin-left: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #073e72;
  font-size: 1.5rem;
}
.user i,
.user span {
  margin-right: 1rem;
}
li {
  list-style: none;
}
.nav-list {
  padding-top: 5rem;
  width: 100%;
}
.nav-list ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-list ul li {
  margin: 0 3rem;
  font-size: 1.5rem;
  color: #073e72;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 3rem;
  border-right: 1px solid #e9edf1;
}

.nav-list ul li:last-child {
  border-right: none;
}
/* Colors 
Primary Blue: #073e72
Primary Orange: #f8872b
Light Gray: #e9edf1
Light Blue Gray: #eaeff3
White: #fff
Box Shadow: 0 1rem 5rem rgba(0, 0, 0, 0.1)
*/
